.RData
.Rhistory

latex/MAIN.log
latex/MAIN.aux
latex/MAIN.bcf
latex/MAIN.lof
latex/MAIN.lot
latex/MAIN.out
latex/MAIN.run.xml
latex/MAIN.synctex.gz
latex/MAIN.toc
latex/MAIN.xmpdata
latex/MAIN.blg
latex/MAIN.bbl
latex/MAIN.fdb_latexmk
latex/MAIN.fls

latex/cover/coversheet.aux
latex/mainmatter.log
latex/pdfa.xmpi

stata_fed_put/stata_fed_put.smcl
Partial Replication Cieslak 2019 et. al./run_FOMC_13 Jun 2023.log
Partial Replication Cieslak 2019 et. al./stata_fed_put/stata_fed_put.smcl
Partial Replication Cieslak 2019 et. al./stata_fed_put/stata_fed_put.smcl
