.RData
.Rhistory

*.log
*.smcl

stata_log
d:*

latex/MAIN.aux
latex/MAIN.bcf
latex/MAIN.lof
latex/MAIN.lot
latex/MAIN.out
latex/MAIN.run.xml
latex/MAIN.synctex.gz
latex/MAIN.toc
latex/MAIN.xmpdata
latex/MAIN.blg
latex/MAIN.bbl
latex/MAIN.fdb_latexmk
latex/MAIN.fls

latex/frontmatter.bbl
latex/frontmatter.blg

latex/cover/coversheet.aux
latex/pdfa.xmpi
